[MASTER]

ignore=__tests__
persistent=no
jobs=4
unsafe-load-any-extension=no

[FORMAT]

indent-string='    '
expected-line-ending-format=LF

[BASIC]

good-names=id,ts,db,ex,fn,bg

[SIMILARITIES]

min-similarity-lines=300

[MESSAGES CONTROL]
disable=R0903,W0703,W0221,C0415
