[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
boto3 = "*"
redis = "*"

[dev-packages]
pylint = "*"
blinker = "*"
mypy = "*"
black = "*"
types-redis = "*"
flake8 = "*"
boto3-type-annotations = "*"
boto3-stubs = {extras = ["dynamodb"], version = "*"}

[requires]
python_version = "3.10"

[scripts]
dev = "flask --app reporting.main run -p 6000"
test = "python3 -m unittest discover -s reporting -p \"*_test.py\" -f"
fmt = "black --skip-string-normalization reporting"
lint = "bash -c 'pylint reporting && flake8 reporting'"
typecheck = "mypy reporting"
