[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
boto3 = "*"
redis = "*"

[dev-packages]
pylint = "*"
blinker = "*"

[requires]
python_version = "3.10"

[scripts]
test = "python3 -m unittest discover -s reporting -p \"*_test.py\" -f"
lint = "pylint reporting/"
dev = "flask --app reporting.main run -p 6000"
