[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
boto3 = "*"
redis = "*"

[dev-packages]
pylint = "*"
blinker = "*"

[requires]
python_version = "3.10"

[scripts]
test = "python3 -m unittest discover -s analytics -p \"*_test.py\" -f"
lint = "pylint analytics/"
analytics = " flask --app analytics.main run -p 6000"
dev = " flask --app analytics.main run -p 6000 "
